/* Coolors Exported Palette - coolors.co/292f36-4ecdc4-ffffff-ff6b6b-ffffff */

/* HSL */
$color1: hsla(212%, 14%, 19%, 1);
$color2: hsla(176%, 56%, 55%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(0%, 100%, 71%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(41, 47, 54, 1);
$color2: rgba(78, 205, 196, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(255, 107, 107, 1);
$color5: rgba(255, 255, 255, 1);

.navFixed {
  background-color: black


}

body {
  background-color: $color3
}
